{% extends 'base.html' %}

{% block body %}
    <table>
            <thead>
                <tr>
                    <th style="background-color: #333; color:azure">Datetime</th>
                    <th style="background-color: #333; color:azure">RequestId</th>
                    <th style="background-color: #333; color:azure">URL</th>
                    <th style="background-color: #333; color:azure">Result</th>
                </tr>
            </thead>
            <tbody>
                {% for line in history_log %}
                    <tr>
                        <td>{{ line.datetime }}</td>
                        <td>{{ line.pk }}</td>
                        <td>{{ line.url }}</td>
                        <td>{{ line.result }}</td>
                    </tr>
                {% endfor%}
            </tbody>
    </table>
{% endblock %}
